.header {
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);

}

.header-left {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-left: 100px;
}

.header-right {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 100px;
}

.divider {
    width: 1px;
    height: 10px;
    background-color: rgb(204, 204, 204);
    margin: 15px 15px;
}

.custom-link {
    color: rgb(80, 82, 89);
    text-decoration: none;
}